.git
.gitignore
.DS_Store

app/node_modules
app/build
app/.svelte-kit

engine/.venv
engine/__pycache__
engine/.pytest_cache

**/__pycache__
**/.pytest_cache

.venv
node_modules

docs/archive
app/_archive
docs/generated

work
